* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  background: none;
  border: 0;
  outline: 0;
  font-family: 'Roboto';
}
.square {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	float: left;
	cursor: default;
}
.mine {
	background-color: red;
}
.green {
	/*background-color: green;*/
}
.newline {
	clear: left;
}
.hidden {
	background-color: gray;
	text-align: center;
	color: white;
}
.playground {
	margin: 0 auto;
}
.playground__cells {
	overflow: hidden;
}
.playground-header,
.options {
	width: 200px;
	margin: 0 auto;
}
.options {
  overflow: hidden;
}
.playground-header {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 0;
}
.minecount {
  flex: 0 0 0;
  width: 0;
}
.timeshow {
  flex: 0 0 0;
  width: 0;
  height: 10px;
}
.timeshow > se-timer {
  transform: translateY(calc(10px - 50%)) translateX(calc(-64px + 50%)) scale(.33);
}
.options__header {
	width: 100%;
}
.options__item {
	width: 100%;
	margin: 3px 0;
}
.options__input {
	font-size: 14px;
	line-height: 14px;
	border-bottom: 1px solid black;
	width: 50px;
	float: right;
	text-align: right;
}
.restart-button,
.options__apply {
  cursor: pointer;
  font: 600 10px 'Roboto', sans-serif;
  padding: 5px;
  border-radius: 2px;
  text-transform: uppercase;
}
.options__apply {
  padding: 9px;
  line-height: 16px;
  margin: 0 2px 2px 0;
  float: right;
}
.restart-button:hover,
.options__apply:hover {
  box-shadow: 0 1px 3px 0 #999;
}
.options__error-message {
  font-size: 10px;
  text-align: right;
  color: red;
}

.none {
  display: none;
}